body{
    background-image: url("img/background-lime.gif");
    background-repeat: repeat;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

h1{
    color: aqua;
}

#loading{
    background-size: 100% auto;
}